:root {
    --primary: #485c81;
    --primary-light: #647a9e;
    --primary-dark: #374863;
    --light: #ecf0f1;
    --dark: #2c3e50;
}

html, body {
    overflow-x: hidden;
}
/* مهم‌ترین خط برای کشتن اسکرول افقی */

.logo-img {
    max-width: 130px;
    height: auto;
    width: auto;
    object-fit: contain;
    transition: all 0.3s ease;
}

/* موبایل */
@media (max-width: 768px) {
    .logo-img {
        max-width: 100px;
    }
}

@media (max-width: 576px) {
    .logo-img {
        max-width: 90px;
    }
}

.navbar {
    transition: all 0.4s ease;
    background: rgba(68, 68, 68, 0.51) !important;
    backdrop-filter: blur(12px);
}

    .navbar .navbar-brand img {
        filter: brightness(0) invert(1);
    }

    .navbar .nav-link,
    .navbar .btn-outline-light {
        color: white !important;
    }

        .navbar .nav-link:hover {
            color: var(--primary-light) !important;
        }

.hero {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.7)), url('/photos/B18I6807-crop-large.jpeg') center/cover no-repeat;
    min-height: 100vh;
    color: white;
}

/* فقط دسکتاپ fixed باشه */
@media (min-width: 992px) {
    .hero {
        background-attachment: fixed;
    }
}

.page {
    margin-top: 9rem; /* به جای 9rem */
    margin-bottom: 6rem; /* به جای 6rem */
}

