@model ViewDataDictionary

@if (!ViewData.ModelState.IsValid)
{
    var allErrors = ViewData.ModelState.Values.SelectMany(v => v.Errors);
    if (allErrors.Any())
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in allErrors)
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
}
