@model RegisterUserViewModel

@{
    ViewData["Title"] = "Download Credentials";
    var downloadUrl = Url.Action("GetCredentialsFile", new { id = Model.Id, password = Model.Password });
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="d-flex justify-content-center align-items-center pt-lg-3 ">
            <img src="~/img/cryptofile_with.png" alt="File Crypto Logo" class="img-fluid" style="max-width: 300px; padding:0 30px">


        </div>
        <h1 class="display-4 text-center pb-4">Secure File Trading</h1>
        <div class="text-center">
            <h2 class="text-center">Registration Successful</h2>
            <hr />
            <p style=" font-weight: bold;">
                Your login credentials have been generated.<br />
                The file will be downloaded automatically.
            </p>

            <div class="alert alert-success" role="alert">
                Please keep this file in a safe place.<br />
                It contains your username and password and must not be shared.
            </div>

            <p>If the download doesn't start automatically, <a class="btn btn-success" href="@downloadUrl">click here</a></p>

            <p>After saving the file, you can go to <a class="btn btn-primary" href="@Url.Action("Login")">Login</a></p>
        </div>

    </div>
</div>

<script>
    window.onload = function () {
        const link = document.createElement('a');
        link.href = '@downloadUrl';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    };
</script>
